header {
    background-color: none;
    background: linear-gradient(
        to bottom,
        #FFF9EA 0%,
        rgba(255, 249, 234, 0) 100%
    );
}

footer {
    background-color: none;
    background: linear-gradient(
        to top,
        #FFF9EA 0%,
        rgba(255, 249, 234, 0) 100%
    );
}

#navbar-cad {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}